APP_ENV=development
APP_NAME="Daraz-Style Affiliate Platform"
APP_URL=http://localhost:8000
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=daraz_affiliate
DB_USER=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_LIFETIME=7200
